body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../img/concrete-1840731_1920.jpg);
  width: 100%;
  height: 730px;
  background-position: center;
  background-size: cover;
	background-color:rgba(255,255,255,0.2);
	background-blend-mode:lighten;
  margin: 0;
}

.container {
  width: 100%;
  display: none;
  margin:0 auto;
  position: relative;
  top: 10%;
}

#content {
  width: 40%;
  margin: auto;
  border-radius: 30px;
  background-color: #F9F9F9;
  box-shadow: 0px 0px 5px;
}

#form {
  width: 50%;
  margin: auto;
}

.subtitle {
  text-align: center;
  font-family: 'klee','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  font-size: 22px;
  color:#73705F;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.label {
  font-size: 12px;
  font-weight: bold;
  color:#73705F;
  font-family: 'klee','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}


.input input {
  width: 286px;
  height: 35px;
  margin: 5px 0;
  padding: 0;
  border: 1px solid #73705F;
  border-radius: 5px;
}

#submit {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#submit button {
  margin: 5px;
  width: 50%;
  height: 35px;
  font-family: 'klee','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  border: solid 1px #73705F;
  border-radius: 5px;
}

#back {
  background-color: #E5E5E5;
  color: #73705F;
}

#save {
  background-color: #73705F;
  color: #F9F9F9;
}

#delete {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#delete a {
  color: #73705F;
  font-size: 12px;
  font-family: 'klee','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

.error {
  color: red;
  font-size: 13px;
  margin: 0;
}
