body {
  margin:0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  /* background-color: whitesmoke; */
  background-color: #A1D6E2;
  opacity: 0.8;
}

.top-bar .logo a p {
  margin: 0;
  padding-top: 0px;
  padding-left: 7px;
}

.logo a {
  display: flex;
  text-decoration: none;
  color: #333333;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Herculanum','Comic Sans MS',sans-serif;
}

.logo a img {
  width: 30px;
  height: 30px;
}

.bar-side {
  margin-right: 30px;
  font-size: 20px;
  font-family: 'Courier',sans-serif;
}

.bar-side a {
  margin: 0;
  text-decoration: none;
  color: #333333;
}

