body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E8E8E8;
  width: 100%;
  height: 730px;
}

.background {
  background-image: url(../img/concrete-1840731_1920.jpg);
  background-position: center;
  background-size: cover;
	background-color:rgba(255,255,255,0.2);
	background-blend-mode:lighten;
}

#form {
  display: flex;
  justify-content: center;
  margin: 40px;
}

#search-text {
  background-color: #A1D6E2;
  opacity: 0.9;
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 50px;
}

#search-text::placeholder {
  text-align: center;
}

#submit {
  width: 20px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: auto 90%;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-left: 5px;
}

.logo2 {
  width: 50%;
  margin: 0 auto;
  /* padding-top: 2%; */
  padding-bottom: 5%;
}

.logo2 p, h1 {
  text-align: center;
  margin: 0;
  z-index: 2;
  color: #333333;
}

.logo2 h1 {
  font-family: 'Herculanum','Comic Sans MS',sans-serif;
  font-size: 50px;

}

.logo2 p {
  font-family: 'Herculanum','Comic Sans MS',sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.image {
  display: flex;
  justify-content: center;
  width: 250px;
  height:150px;
  margin: auto;
}

.book2 {
  position: relative;
  left: 10%;
  top: 20%;
  opacity: 0.7;
}

.book {
  position: relative;
  right: 10%;
  top: 20%;
  opacity: 0.7;
}

.box {
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px;
}

.inner {
  width: 150px;
  height: 300px;
  margin: 40px 15px;
  font-size: 13px;
  /* color: white; */
  /* border: solid 2px #333333; */
  background: rgba(225, 225, 225, 0.6);
  padding: 10px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px grey;
}

.t {
  font-weight: bold;
  width: 150px;
  margin: 20px auto;
  display: block;
}

.a {
  color: grey;
  width: 150px;
  margin: 20px auto;
  display: block;
}

.isbn {
  display: none;
}

.inner img {
  width: 150px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.inner a {
  text-decoration: none;
  color: #333333;
}


.subtitle {
  color: #333333;
  /* background-color: #E8E8E8; */
  font-size: 20px;
  font-weight: bold;
  font-family: 'klee','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  margin-bottom: 10px;
}

.subtitle p {
  width: 10%;
  height: 50px;
  margin: auto;
  text-align: center; 
  border-bottom: 3px solid #A1D6E2;
  display: flex;
  align-items: center;
  justify-content: center;
}